:root {
    /* --Blue: #74acff;
    --Green: #a5f91d;
    --Orange: #ff7a1a;
    --Purple: #747fef;
    --Sand: #fffbf1;
    --Yellow: #ffd400;
    --Black: #121212;
    --Black-30: #1212124d;
    --White: #e6e6e6; */

    /* HSL token values */
    --Blue: 216deg 100% 73%;
    --Green: 83deg 95% 55%;
    --Orange: 25deg 100% 55%;
    --Purple: 235deg 79% 70%;
    --Sand: 43deg 100% 97%;
    --Yellow: 50deg 100% 50%;
    --Black: 0deg 0% 7%;
    --White: 0deg 0% 90%;

    color-scheme: light;
    --backgroundColor: var(--Sand);
    --backgroundHover: var(--Black);
    --textColor: var(--Black);
    --linkColor: var(--Black);
    --borderColor: var(--Black-30);
    --meta-background: hsl(var(--Purple));
}

:root.dark {
    color-scheme: dark;
    --backgroundColor: var(--Black);
    --backgroundHover: var(--White);
    --textColor: var(--White);
    --link: var(--White);
    --borders: var(--White);
    --meta-background: hsl(var(--Purple));
}

* {
    min-width: 0;
}

html {
    background-color: hsl(var(--backgroundColor));
}

/* Scrollbar colors */
html {
    scrollbar-color: hsl(var(--Green)) hsl(var(--backgroundColor));
}
/* *::-webkit-scrollbar {
    background: hsl(var(--backgroundColor));
}
*::-webkit-scrollbar-thumb {
    background-color: hsl(var(--Blue));
    border-radius: 20px;
} */

input {
    caret-color: hsl(var(--Orange));
}

:focus {
    outline: hsl(var(--Green)) 2px solid;
}

::selection {
    background-color: hsl(var(--Green));
}

.button {
    @apply border border-dashed border-borderColor/30 px-4 py-2 hover:bg-backgroundHover/5;
}

img {
    vertical-align: middle;
    font-style: italic;
}

.body-border {
    @apply border-x border-dashed border-borderColor/30;
    @apply mx-0 sm:mx-4;
    min-height: calc(100vh - 105px);
    display: grid;
    grid-template-rows: 1fr auto;
}
