/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
    font-family: 'matter-reg';
    src: url('/fonts/MatterSQMonoTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'matter-it';
    src: url('/fonts/MatterSQMonoTRIAL-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'denim';
    src: url('/fonts/DenimINKTRIALVF-subset.woff2') format('woff2');
    font-weight: 400 500 600;
    font-style: normal italic;
}

@font-face {
    font-family: 'moonbase';
    src: url('/fonts/MoonbaseLLVIPTrial-subset.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'BLUR' 40 80;
}

:root {
    /* --Blue: #74acff;
    --Green: #a5f91d;
    --Orange: #ff7a1a;
    --Purple: #747fef;
    --Sand: #fffbf1;
    --Yellow: #ffd400;
    --Black: #121212;
    --Black-30: #1212124d;
    --White: #e6e6e6; */

    /* HSL token values */
    --Blue: 216deg 100% 73%;
    --Green: 83deg 95% 55%;
    --Orange: 25deg 100% 55%;
    --Purple: 235deg 79% 70%;
    --Sand: 43deg 100% 97%;
    --Yellow: 50deg 100% 50%;
    --Black: 0deg 0% 7%;
    --White: 0deg 0% 90%;

    color-scheme: light;
    --backgroundColor: var(--Sand);
    --backgroundHover: var(--Black);
    --textColor: var(--Black);
    --linkColor: var(--Black);
    --borders: var(--Black);
    --meta-background: hsl(var(--backgroundColor));
    --outline: var(--Purple);
}

:root.dark {
    color-scheme: dark;
    --backgroundColor: var(--Black);
    --backgroundHover: var(--White);
    --textColor: var(--White);
    --link: var(--White);
    --borders: var(--White);
    --meta-background: hsl(var(--backgroundColor));
    --outline: var(--Green);
}

* {
    min-width: 0;
}

html {
    background-color: hsl(var(--backgroundColor));
}

/* Scrollbar colors */
html {
    scrollbar-color: hsl(var(--outline)) hsl(var(--backgroundColor));
}
/* Safari scrollbar  */
/* *::-webkit-scrollbar {
    background: hsl(var(--backgroundColor));
}
*::-webkit-scrollbar-thumb {
    background-color: hsl(var(--Blue));
    border-radius: 20px;
} */

input {
    caret-color: hsl(var(--Orange));
}

:focus {
    outline: hsl(var(--outline)) 2px solid;
}

::selection {
    color: hsl(var(--Black));
    background-color: hsl(var(--Green));
}

.button {
    @apply border border-dashed border-borderColor/30 px-4 py-2 hover:bg-backgroundHover/5 disabled:text-gray-400 disabled:border-borderColor/10;
}

img {
    vertical-align: middle;
    font-style: italic;
}

.body-border {
    @apply border-x border-dashed border-borderColor/30;
    @apply mx-0 sm:mx-4;
    min-height: calc(100vh - 105px);
    display: grid;
    grid-template-rows: 1fr auto;
}

.mbsq {
    font-variation-settings: 'BLUR' 40;
}

.mbrd {
    font-variation-settings: 'BLUR' 80;
}

.two-columns,
.three-columns {
    grid-template-columns: 1fr;
}

.spacer:last-child,
.spacer:last-child {
    display: none;
}

@media (min-width: 640px) {
    .two-columns {
        grid-template-columns:
            minmax(0, 1fr) 1px
            minmax(0, 1fr) 1px;
    }
    .three-columns {
        grid-template-columns:
            minmax(0, 1fr) 1px
            minmax(0, 1fr) 1px
            minmax(0, 1fr) 1px;
    }
}

.thirds-container {
    @apply grid-cols-1;
}

@media (min-width: 640px) {
    .thirds-container {
        grid-template-columns:
            minmax(0, 2fr) 1px
            minmax(0, 1fr);
    }
}

.card-grid {
    display: grid;
    gap: 2rem;
}

.card-grid > * {
    position: relative;
}

.card-grid > *:nth-child(n + 2)::after {
    content: '';
    position: absolute;
    top: -1rem;
    width: 100%;
    @apply border-t border-borderColor/30 border-dashed;
}

@media (min-width: 640px) {
    .card-grid.double {
        grid-template-columns: 1fr 1fr;
    }
    .card-grid > *:nth-child(n + 2)::after {
        all: unset;
    }
    /* left border */
    .card-grid.double > *:nth-child(2n)::before {
        content: '';
        position: absolute;
        left: -1rem;
        height: 100%;
        border-left: 1px hsl(var(--borders) / 30%) dashed;
    }
    /* top border */
    .card-grid.double > *:nth-child(n + 3):after {
        content: '';
        position: absolute;
        top: -1rem;
        width: 100%;
        border-top: 1px hsl(var(--borders) / 30%) dashed;
    }

    .card-grid.triple {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .card-grid.triple > *:nth-child(3n + 2):before,
    .card-grid.triple > *:nth-child(3n + 3):before {
        content: '';
        position: absolute;
        left: -1rem;
        border-right: 1px hsl(var(--borders) / 30%) dashed;
        height: 100%;
    }
    /* top border */
    .card-grid.triple > *:nth-child(n + 3):after {
        all: unset;
    }
    .card-grid.triple > *:nth-child(n + 4):after {
        content: '';
        position: absolute;
        top: -1rem;
        border-top: 1px hsl(var(--borders) / 30%) dashed;
        width: 100%;
    }

    .card-grid.quad {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    /* top border */
    .card-grid.quad > *:nth-child(n + 5):after {
        content: '';
        position: absolute;
        top: -1rem;
        width: 100%;
        border-top: 1px hsl(var(--borders) / 30%) dashed;
    }
    /* left border */
    .card-grid.quad > *:nth-child(4n + 2)::before,
    .card-grid.quad > *:nth-child(4n + 3)::before,
    .card-grid.quad > *:nth-child(4n + 4)::before {
        content: '';
        position: absolute;
        left: -1rem;
        height: 100%;
        border-left: 1px hsl(var(--borders) / 30%) dashed;
    }
}
