dialog {
    animation: fade-in 200ms;
}

::backdrop {
    background-color: hsl(235deg 79% 70% / 0.5);

    /* animation: backdrop-fade-in 300ms forwards; */
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* 
@keyframes backdrop-fade-in {
    0% {
        background-color: hsl(0 0 0 / 0);
    }
    100% {
        background-color: hsl(83deg 95% 55% / 0.8);
    }
} */
