---
import { Image } from 'astro:assets';
import space from './space.png';
import CCAM from './CCAM.png';
---

<div
    class="grid grid-cols-6 p-4 justify-items-center border-b border-dashed border-black"
>
    <div class="name">
        <Image
            src={CCAM}
            alt="Center for Concrete and Abtract Machines"
            class="pb-4 sm:pb-0 sm:pr-4"
        />
    </div>
    <div class="image">
        <Image src={space} alt="Studio Space" class="max-w-full mx-auto" />
    </div>
</div>

<style>
    .name {
        @apply col-span-6 sm:col-span-3 lg:col-span-4;
        @apply border-b sm:border-b-0 sm:border-r border-dashed border-black;
    }

    .image {
        @apply col-span-6 sm:col-span-3 lg:col-span-2 w-full pt-4 sm:pt-0 sm:pl-4;
    }
</style>
