---
import Base from '@layouts/Base.astro';
import TitleCard from '@components/TitleCard.astro';
---

<Base>
    <div class="container mx-auto">
        <TitleCard title="Follow" />
    </div>
</Base>
