---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import GenHeader from '../components/Header/Header-gen';
import Navigation from '../components/Header/Navigation.astro';
---

<Layout>
    <Header />
    <div class="container mx-auto">
        <h1>Homepage!</h1>
    </div>
</Layout>
