---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Base from '@layouts/Base.astro';
import ProgramCard from '@components/Programs/ProgramCard.astro';
import ResourcesDisplay from '@components/Resources/ResourcesDisplay.astro';
import GridSpacer from '@components/GridSpacer.astro';

import space from 'src/images/space.png';
import squareSpace from 'src/images/space-square.png';
import CCAM from 'src/images/CCAM.png';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import Brackets from '@components/Brackets.astro';
import IndexGlitchTitle from '@components/IndexGlitchTitle.astro';
import { isAfterPubDate } from 'src/utils/programFilters';

const featuredPrograms = (await getCollection('programs'))
    .filter(({ data }) => import.meta.env.DEV || isAfterPubDate(data))
    .filter(({ data }) => data.featured === true)
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
    .slice(0, 2);
---

<Base>
    <!-- Splash -->
    <div class="px-4 pt-4">
        <div class="thirds-container grid gap-4 justify-items-center">
            <IndexGlitchTitle />
            <GridSpacer />
            <div class="w-full">
                <Image
                    src={squareSpace}
                    alt="Studio Space"
                    class="max-w-full mx-auto"
                    widths={[400, 600, 1200, squareSpace.width]}
                    sizes="(min-width: 640px) 33vw, 100vw"
                />
            </div>
        </div>
    </div>

    <!-- Overview -->

    <div class="px-4 pt-4">
        <HorizontalSpacer class="pb-4" />
        <div class="grid thirds-container gap-4">
            <Brackets>
                <p class="max-w-[60%] mx-auto text-xl">
                    Center for Concrete and Abstract Machines is an artist-run
                    platform at the nexus of art, technology, and contemporary
                    thought.
                </p>
            </Brackets>
            <GridSpacer />
            <div
                class="flex gap-4 justify-stretch align-stretch flex-col pt-4 sm:pt-0 min-h-[195px]"
            >
                <a href="/programs" class="flex grow">
                    <button
                        class="font-mono border border-dashed border-borderColor hover:bg-backgroundHover/5 grow"
                        >Program Calendar</button
                    ></a
                >
                <a href="/projects" class="flex grow">
                    <button
                        class="font-mono border border-dashed border-borderColor hover:bg-backgroundHover/5 grow"
                        >Research Projects</button
                    ></a
                >
                <a href="/about" class="flex grow">
                    <button
                        class="font-mono border border-dashed border-borderColor hover:bg-backgroundHover/5 grow"
                        >About Us</button
                    ></a
                >
            </div>
        </div>
    </div>

    <!-- Programs -->
    <div class="pt-4">
        <HorizontalSpacer class="mx-4" />
        <div class="card-grid double">
            {
                featuredPrograms.map((program) => (
                    <div>
                        <ProgramCard
                            slug={program.slug}
                            frontmatter={program.data}
                        />
                    </div>
                ))
            }
        </div>
    </div>

    <!-- About -->
    <div class="px-4 pt-4">
        <HorizontalSpacer />
        <div class="grid place-items-center mx-4 mt-4">
            <div class="grid grid-cols-1 md:grid-cols-2 md:w-10/12 py-20 gap-8">
                <div
                    class="flex flex-col justify-between items-start order-2 md:order-1"
                >
                    <p class="text-xl">
                        Nomadically based in Chicago, CCAM is an artist-run
                        platform at the nexus of art, technology, and
                        contemporary thought. CCAM’s primary goal is building an
                        accessible community for the development and sharing of
                        abstract ideas and forms of technical know-how,
                        know-when, and know-why historically siloed in academia.
                    </p>
                    <a href="/about"
                        ><button class="button font-mono mt-8"
                            >Learn More</button
                        ></a
                    >
                </div>
                <div class="mt-8 sm:mt-0 mx-auto order-1 md:order-2">
                    <Image
                        src={space}
                        alt="Image of workshop space"
                        widths={[400, 600, 1200, space.width]}
                        sizes="(min-width: 640px) 50vw, 100vw"
                    />
                </div>
            </div>
        </div>
    </div>

    <!-- Resources -->
    <div class="px-4">
        <HorizontalSpacer class="pb-4" />
        <div class="header flex justify-between items-center">
            <h2 class="text-2xl font-medium">Resources</h2>
            <a href="/resources">
                <button class="button font-mono">View All</button>
            </a>
        </div>
        <ResourcesDisplay displayCount={5} />
    </div>
</Base>
