---
import Base from '@layouts/Base.astro';
import Picture from 'astro/components/Picture.astro';
import TitleCard from '@components/TitleCard.astro';

// Edit title and description here
const heading = {
    title: '🔗🔗🔗',
    description: null,
};

// Import Images before using them in links
// https://docs.astro.build/en/guides/images/#images-in-astro-files
import { getRandomPlaceholderImage } from '@utils/getRandomPlaceholderImage';
import FutureRhythmMachines from 'src/content/programs/images/future-rhythm-machines.png';
import JCD from 'src/content/programs/images/JCD1.png';
import EARTH from 'src/images/shop/EARTH.jpg';
import BADS from 'src/content/programs/images/black-art.png';
import LinkCard from '@components/LinkCard.astro';
import AI from 'src/content/programs/images/iwantanai.png';

// Edit links here
const links = [
 
{
        image: AI,
        name: 'RSVP: I WANT AN AI for PRESIDENT',
        description: 'Live Action Role Play - 8/22/24',
        url: 'https://forms.gle/jPjoEerAznC2crET8',
    },{
        image: JCD,
        name: '2-day Real-time Video Workshop w. Juliana Castro Duperly',
        description: '$35 Registration - 6/18 + 6/19 6-9pm',
        url: 'https://ko-fi.com/s/884f5f242a',
    },
    {
        image: BADS,
        name: 'BADS-LAB',
        description: 'Calendar of Events - 5/10-5/20/2024',
        url: '/programs/24-05-10-black-arts-and-decolonial-sciences',
    },
    {
        image: FutureRhythmMachines,
        name: 'FUTURHYTHMACHINES :: Panel w DeFrantz, McNeal, and Powell',
        description: 'RSVP – 05/11/2024',
        url: 'https://forms.gle/SJ7WgNLYuvpEF6GW9',
    },
    {
        image: EARTH,
        name: 'FUTURHYTHMACHINES :: EARTH Synth DIY Workshop Registration',
        description: 'Waiting List – 05/11/2024',
        url: 'https://ko-fi.com/s/af51f52264',
    },
    // {
    //     image: getRandomPlaceholderImage(),
    //     name: 'Placeholder Link',
    //     description:
    //         "You can delete this object. If you don't have an image to use for a link, you can use the getRandomPlaceholderImage() function to bring in a rando",
    //     url: 'https://parkerdavis.dev',
    // },
];
---

<Base title="LINK IN BIO">
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <TitleCard
                title={heading.title}
                description={heading.description}
            />
            <main class="my-4">
                <ul class="flex gap-4 flex-col">
                    {links.map((link) => <LinkCard link={link} />)}
                </ul>
            </main>
        </div>
    </div>
</Base>
