---
import Base from '@layouts/Base.astro';
import Picture from 'astro/components/Picture.astro';
import TitleCard from '@components/TitleCard.astro';

// Edit title and description here
const heading = {
    title: '🔗🔗🔗',
    description: null,
};

// Import Images before using them in links
// https://docs.astro.build/en/guides/images/#images-in-astro-files
import { getRandomPlaceholderImage } from '@utils/getRandomPlaceholderImage';
import FutureRhythmMachines from 'src/content/programs/images/future-rhythm-machines.png';
import JCD from 'src/content/programs/images/JCD1.png';
import EARTH from 'src/images/shop/EARTH.jpg';
import BADS from 'src/content/programs/images/black-art.png';
import LinkCard from '@components/LinkCard.astro';
import Ludic from 'src/content/galleries/ludicsound/ludic1.png';

// Edit links here
const links = [
 
{
        image: Ludic,
        name: 'Ludic Sound Lab with Patrick Glennon', 
        description: 'Workshop at VGA 2/1/25',
        url: 'srcs/content/programs/25-02-0-ludic-sound-lab/',
    },
    // {
    //     image: getRandomPlaceholderImage(),
    //     name: 'Placeholder Link',
    //     description:
    //         "You can delete this object. If you don't have an image to use for a link, you can use the getRandomPlaceholderImage() function to bring in a rando",
    //     url: 'https://parkerdavis.dev',
    // },
];
---

<Base title="LINK IN BIO">
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <TitleCard
                title={heading.title}
                description={heading.description}
            />
            <main class="my-4">
                <ul class="flex gap-4 flex-col">
                    {links.map((link) => <LinkCard link={link} />)}
                </ul>
            </main>
        </div>
    </div>
</Base>
