---
import Base from '@layouts/Base.astro';
import Picture from 'astro/components/Picture.astro';
import TitleCard from '@components/TitleCard.astro';

// Edit title and description here
const heading = {
    title: '🔗🔗🔗',
    description: null,
};

// Import Images before using them in links
// https://docs.astro.build/en/guides/images/#images-in-astro-files
import { getRandomPlaceholderImage } from '@utils/getRandomPlaceholderImage';
import LinkCard from '@components/LinkCard.astro';
import Estuary from 'src/content/programs/images/estuary-play.png';
import Microsound from 'src/content/programs/images/microsound.png';


// Edit links here
const links = [
{
        image: Estuary,
        name: 'Estuary Eurorack System Workshop ', 
        description: '3/29/25 // 12-2:30pm // $10 // Workshop and Play Sessions with Estuary Eurorack System',
        url: '/programs/25-03-29-estuary-group-workshop/',
    },
    {
        image: Microsound,
        name: 'Intro to Microsound x ESS', 
        description: '2.27-3.27.25 // 4-Part Max/MSP Gen~ Course with Garrett Laroy Johnson',
        url: 'https://www.eventbrite.com/e/intro-to-microsound-4-part-maxmsp-gen-course-tickets-1225799993779?aff=oddtdtcreator',
    }
    // {
    //     image: getRandomPlaceholderImage(),
    //     name: 'Placeholder Link',
    //     description:
    //         "You can delete this object. If you don't have an image to use for a link, you can use the getRandomPlaceholderImage() function to bring in a rando",
    //     url: 'https://parkerdavis.dev',
    // },
];
---

<Base title="LINK IN BIO">
    <div class="p-4">
        <div class="mx-auto max-w-2xl">
            <TitleCard
                title={heading.title}
                description={heading.description}
            />
            <main class="my-4">
                <ul class="flex gap-4 flex-col">
                    {links.map((link) => <LinkCard link={link} />)}
                </ul>
            </main>
        </div>
    </div>
</Base>
