---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import TitleCard from '../components/TitleCard.astro';
import ProjectCard from '../components/Projects/ProjectCard.astro';
import HorizontalSpacer from '../components/HorizontalSpacer.astro';

const heading = {
    title: 'Projects',
    description:
        'Our organizers, teachers and participants regularly collaborate on a space of experimentation to define and redefine “poetic computation” and imagine just and beautiful futures. Collectively, we have produced publications, online and in person showcases and exhibitions, websites, special sessions, event series, radio productions and other outcomes.',
};

const projects = await getCollection('projects');
---

<Base title="Projects">
    <div class="container mx-auto p-4">
        <TitleCard title={heading.title} text={heading.description} />
        <HorizontalSpacer />
        {
            projects.map((project) => (
                <ProjectCard metadata={project.data} slug={project.slug} />
            ))
        }
    </div>
</Base>
