---
import Base from '../layouts/Base.astro';
import TitleCard from '../components/TitleCard.astro';
import ResourcesDisplay from '../components/Resources/ResourcesDisplay.astro';

const heading = {
    title: 'Resources',
    description:
        'Lorem ipsum dolor sit amet consectetur. Faucibus elit magna aliquet nisi neque convallis tempor. Blandit pellentesque egestas luctus hendrerit amet amet ac fermentum egestas.',
};
---

<Base title="Resources">
    <div class="mx-auto px-4">
        <TitleCard title={heading.title} text={heading.description} />
        <ResourcesDisplay />
    </div>
</Base>
