---
import Base from '@layouts/Base.astro';
import TitleCard from '@components/TitleCard.astro';
import ResourcesDisplay from '@components/Resources/ResourcesDisplay.astro';

const heading = {
    title: 'Resources',
    description:
        'CCAM collects resources related to projects and programming, including texts, art pieces, schematics, codebases, and more.',
};
---

<Base title="Resources">
    <div class="mx-auto px-4">
        <TitleCard title={heading.title} text={heading.description} />
        <ResourcesDisplay />
    </div>
</Base>
