---
import Navigation from './Navigation.astro';
import metadata from '../../metadata';
import Logo from '../../svg/logo.svg';
import { Image } from 'astro:assets';
---

<div
    class="grid grid-cols-1 justify-items-center p-4 gap-4
    sm:items-center sm:grid-cols-2
    bg-stone-50 border-b-black border-b border-solid"
>
    <Image
        src={Logo}
        alt="Logo"
        class="justify-self-center sm:justify-self-start"
    />
    <Navigation class="justify-self-center sm:justify-self-end" />
</div>
