---
import metadata from '../../metadata';
import Logo from '../../svg/logo.svg';
import { Image } from 'astro:assets';
import ContactDialog from '../ContactDialog.astro';
---

<div class="w-full mx-auto border-borderColor/30 border-b border-dashed p-4">
    <div
        class="container mx-auto max-w-7xl grid gap-y-4 items-center justify-items-center col-span-6 grid-cols-1 sm:grid-cols-6"
    >
        <a
            href="/"
            class="sm:justify-self-start sm:col-span-3 lg:col-span-4 dark:invert"
        >
            <Image src={Logo} alt="CCAM" />
        </a>
        <div
            class="navigation w-full lg:justify-self-stretch sm:col-span-3 lg:col-span-2"
        >
            <div
                class="grid grid-cols-2 grid-rows-3 gap-x-4 w-full max-w-lg mx-auto"
            >
                {
                    metadata.navLinks.map((nav) => (
                        <a
                            href={nav.url}
                            class="flex justify-between items-center gap-4 sm:px-0"
                            data-name={nav.name}
                            target={nav.new_window ? '_blank' : '_self'}
                        >
                            <div class="whitespace-nowrap">{nav.name}</div>
                            <div class="flex justify-between gap-4 whitespace-nowrap">
                                <span>[</span>
                                <span class="pl-1">]</span>
                            </div>
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
</div>
