---
import NavLink from './NavLink.astro';
import metadata from '/src/metadata.js';
import Logo from '/src/svg/logo.svg';
import { Image } from 'astro:assets';

const pathname = Astro.url.pathname;
---

<div class="w-full mx-auto border-borderColor/30 border-b border-dashed p-4">
    <div
        class="container mx-auto max-w-7xl grid gap-y-4 items-center justify-items-center col-span-6 grid-cols-1 sm:grid-cols-6"
    >
        <a
            href="/"
            class="sm:justify-self-start sm:col-span-3 lg:col-span-4 dark:invert"
        >
            <Image src={Logo} alt="CCAM" />
        </a>
        <div
            class="navigation w-full lg:justify-self-stretch sm:col-span-3 lg:col-span-2"
        >
            <div
                class="grid grid-cols-2 grid-rows-3 gap-x-4 w-full max-w-lg mx-auto"
            >
                {
                    metadata.navLinks.map((nav) => (
                        <NavLink nav={nav} pathname={pathname} />
                    ))
                }
            </div>
        </div>
    </div>
</div>
