---
import Navigation from './Navigation.astro';
import metadata from '../../metadata';
import Logo from '../../svg/logo.svg';
import { Image } from 'astro:assets';
---

<div class="header-container">
    <div class="header">
        <a href="/" class="logo">
            <Image src={Logo} alt="CCAM" />
        </a>
        <div class="nav">
            <Navigation />
        </div>
    </div>
</div>

<style>
    .header-container {
        @apply w-full mx-auto;
        @apply bg-stone-50 border-b-black border-b border-dashed;
    }

    .header {
        @apply container mx-auto max-w-7xl grid gap-y-4 items-center justify-items-center col-span-6 p-4;
        @apply grid-cols-1 sm:grid-cols-6;
    }

    .logo {
        @apply sm:justify-self-start;
        @apply sm:col-span-3 lg:col-span-4;
    }

    .nav {
        @apply w-full lg:justify-self-stretch;
        @apply sm:col-span-3 lg:col-span-2;
    }
</style>
