---
import metadata from '../../metadata';
---

<div class="grid grid-cols-2 grid-rows-3 gap-x-4 w-full">
    {
        metadata.navLinks.map((nav) => (
            <a
                href={nav.url}
                class="flex justify-between items-center gap-4 px-4 sm:px-0"
            >
                <div class="whitespace-nowrap">{nav.name}</div>
                <div class="flex justify-between gap-4 whitespace-nowrap">
                    <span>[</span>
                    <span class="pl-1">]</span>
                </div>
            </a>
        ))
    }
</div>
