---
const { assProject } = Astro.props;
---

<p class="font-sans p-4 text-center tracking-widest font-bold my-8">
    Part of the
    <a class="tracking-widest" href={`/projects/${assProject.slug}/`}
        >{assProject.data.title}</a
    >{' '}
    project
</p>
