---
const { class: className } = Astro.props;
---

<div class=`background grid place-items-center p-[4px] ${className}`>
    <div
        class="m-[4px] h-full w-full bg-backgroundColor grid place-items-center"
    >
        <div class="p-4 max-w-full">
            <slot />
        </div>
    </div>
</div>

<style>
    .background {
        background: linear-gradient(
            90deg,
            hsl(var(--textColor)) 3%,
            hsl(var(--textColor)) 3%,
            hsl(var(--backgroundColor)) 3%,
            hsl(var(--backgroundColor)) 97%,
            hsl(var(--textColor)) 97%
        );
    }
</style>
