<div class="content font-mono text-sm">
    <div class="mt-4 break-words">
        <p class="text-Purple">Contact</p>
        <a href="mailto:hello@ccam.world"
            >hello@ccam.world</a
        >
    </div>
    <div class="mt-4">
        <p class="text-Purple">Instragram</p>
        <a href="https://www.instagram.com/ccam_chicago/">@ccam_chicago</a>
    </div>
    <div class="mt-4">
        <p class="text-Purple">Contribute</p>
        <p>
            If you would like to propose or collaborate on an event, or get involved otheriwse, we love it when folks reach out.
        </p>
    </div>
</div>
