<div class="content">
    <div class="mt-4">
        <p class="text-Purple">Contact</p>
        <a href="mailto:concrete.abstract.machines@gmail.com"
            >concrete.abstract.machines@gmail.com</a
        >
    </div>
    <div class="mt-4">
        <p class="text-Purple">Instragram</p>
        <a href="https://www.instagram.com/ccam_chicago/">@ccam_chicago</a>
    </div>
    <div class="mt-4">
        <p class="text-Purple">Contribute</p>
        <p>
            If you have additional suggestions for materials for inclusion,
            please send us an email!
        </p>
    </div>
</div>
