---
import '/src/styles/modal.css';
import ContactInfo from '@components/ContactInfo.astro';
import Brackets from '@components/Brackets.astro';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import EmailSignup from '@components/EmailSignup';
---

<dialog class="contact">
    <div
        class="dialog-container p-2 max-w-lg bg-backgroundColor flex gap-4 items-center justify-between min-h-min"
    >
        <Brackets class="hello">
            <div class="p-4">
                <ContactInfo />
                <HorizontalSpacer class="my-4" />
                <h2 class="font-medium tracking-tight text-lg pb-2">
                    Stay up to date by signing up for our newsletter
                </h2>
                <EmailSignup client:load />
            </div>
        </Brackets>

        <!-- Close Button  -->
        <button id="close" class="absolute top-6 right-6">
            <svg
                viewBox="0 0 24 24"
                class="h-4 w-4"
                stroke="currentColor"
                stroke-width="2px"
                stroke-linecap="butt"
            >
                <line x1="2" y1="2" x2="22" y2="22"></line>
                <line x1="22" y1="2" x2="2" y2="22"></line>
            </svg>
        </button>
    </div>
</dialog>

<script>
    function addModalListeners() {
        const contactAnchor = document.querySelector('[data-name="Contact"]');
        const contactModal: HTMLDialogElement = document.querySelector(
            'dialog[class="contact"]'
        );
        const contactContainer = document.querySelector('.dialog-container');
        const closeButton = document.querySelector('button#close');

        if (typeof window.HTMLDialogElement === 'function') {
            contactAnchor.addEventListener('click', (e) => {
                e.preventDefault();
                contactModal.showModal();
            });

            closeButton.addEventListener('click', () => {
                contactModal.close();
            });

            contactModal.addEventListener('click', () => {
                contactModal.close();
            });

            contactContainer.addEventListener('click', (e) => {
                e.stopPropagation();
            });
        }
    }

    addModalListeners();

    // necessary when using page transitions
    document.addEventListener('astro:page-load', () => {
        addModalListeners();
    });
</script>
