<div
    class="spacer border-t sm:border-r sm:border-t-0 border-dashed border-Black-30 dark:border-White justify-self-stretch align-self self-stretch"
>
</div>

<style>
    .spacer:last-child,
    .spacer:last-child {
        display: none;
    }
</style>
