<div class="title-container">
    <h1
        class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl leading-none uppercase font-sans font-medium text-balance"
    >
        Cent<span class="morpher">e</span>r fo<span class="morpher">r</span>
        C<span class="morpher">o</span>ncr<span class="morpher">e</span>te <br
        /> and <span class="morpher mbsq">A</span>bs<span class="morpher"
            >t</span
        >ra<span class="morpher">c</span>t <span class="morpher">M</span>a<span
            class="morpher">c</span
        >hines
    </h1>
</div>

<script>
    import '@utils/morpher';
</script>

<style>
    .title-container {
        container-type: inline-size;
        width: 100%;
        height: 100%;
    }

    h1 {
        font-size: 13cqw;
        line-height: 0.95;
    }
</style>
