<h1 class="text-6xl lg:text-8xl leading-none uppercase font-sans font-medium">
    Cent<span class="font-moonbase mbsq text-[58.5px] lg:text-[93.5px]">e</span
    >r fo<span class="font-moonbase mbsq text-[58.5px] lg:text-[93.5px]">r</span
    > C<span class="font-moonbase mbsq text-[58.5px] lg:text-[93.5px]">o</span
    >ncr<span class="font-moonbase mbrd text-[58.5px] lg:text-[93.5px]">e</span
    >te <br /> and <span
        class="font-moonbase mbsq text-[58.5px] lg:text-[93.5px]">A</span
    >bs<span class="font-moonbase mbrd text-[58.5px] lg:text-[93.5px]">t</span
    >ra<span class="font-moonbase mbrd text-[58.5px] lg:text-[93.5px]">c</span>t <span
        class="font-moonbase mbrd text-[58.5px] lg:text-[93.5px]">M</span
    >a<span class="font-moonbase mbrd text-[58.5px] lg:text-[93.5px]">c</span
    >hines
</h1>

<script>
    console.log('Hey Gar!');
</script>
