---
import Picture from 'astro/components/Picture.astro';

const { link } = Astro.props;
---

<a href={link.url}>
    <li
        class="person-grid grid gap-4 border border-dashed border-borderColor/30 p-4 hover:bg-backgroundHover/5 disabled:text-gray-400 disabled:border-borderColor/10"
    >
        <Picture src={link.image} alt="" widths={[400, 800]} sizes="10rem" />
        <div class="flex flex-col justify-center align-center">
            <div>
                <h3 class="text-xl font-medium">
                    {link.name}
                </h3>
                <p class="max-w-xl">
                    {link.description}
                </p>
            </div>
        </div>
    </li>
</a>

<style>
    .person-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
    }
    @media (min-width: 640px) {
        .person-grid {
            grid-template-columns: 10rem repeat(1, minmax(0, 1fr));
        }
    }
</style>
