---
const { data } = Astro.props.data;
import { Image, Picture } from 'astro:assets';
import PersonMetadata from './PersonMetadata.astro';

let image;
const personCardImages = import.meta.glob('src/images/person-cards/*.png');
if (!data.image) {
    const keys = Object.keys(personCardImages);
    const randomKey = keys[Math.floor(Math.random() * keys.length)];
    image = personCardImages[randomKey]();
} else {
    image = data.image;
}
---

<div class="person-grid grid gap-4">
    <Picture
        src={image}
        alt=""
        widths={[400, 600, 1200, image.width]}
        sizes="(min-width: 640px) 10rem, 100vw"
    />
    <div class="flex flex-col justify-between">
        <div>
            <h3 class="text-xl font-medium">{data.name}</h3>
            <p class="max-w-xl">{data.cardBlurb}</p>
        </div>
        <PersonMetadata data={data} />
    </div>
</div>

<style>
    .person-grid {
        grid-template-columns: minmax(0, 1fr);
    }
    @media (min-width: 640px) {
        .person-grid {
            grid-template-columns: 10rem repeat(1, minmax(0, 1fr));
        }
    }
</style>
