---
const { type } = Astro.props;

const colorMap = new Map([
    ['book', 'bg-Orange text-Black'],
    ['website', 'bg-Green text-Black'],
    ['image', 'bg-Yellow'],
    ['video', 'bg-Purple text-White'],
    ['codebase', 'bg-Blue'],
    ['article', 'bg-Orange/50'],
    ['magazine', 'bg-Green/50'],
    ['periodical', 'bg-Yellow/50'],
    ['organization', 'bg-Purple/50'],
    ['link', 'bg-Blue/50'],
    // below are for tags search results
    ['event', 'bg-Blue text-Black'],
    ['workshop', 'bg-Orange text-Black'],
    ['study', 'bg-Green text-Black'],
    ['project', 'bg-textColor/10'],
]);

function colorFromType(type: string) {
    return colorMap.get(type.toLowerCase());
}
---

<div
    class=`capitalize flex justify-center items-center px-4 py-2 whitespace-nowrap ${colorFromType(type)}`
>
    {type}
</div>
