---
const { tags, class: className } = Astro.props;
---

<div class={className}>
    <span class="flex gap-x-2 flex-wrap">
        {tags.map((tag) => <a href={`/tags/${tag}`}>#{tag}</a>)}
    </span>
</div>
