<script>
    class ThemeToggle extends HTMLElement {
        constructor() {
            super();
            const button = this.querySelector('button') as HTMLButtonElement;

            if (button) {
                // button clicked, fire event
                button.addEventListener('click', (e) => {
                    if (e.currentTarget instanceof HTMLButtonElement) {
                        // isPressed === dark mode current on
                        let isPressed =
                            e.currentTarget.getAttribute('aria-pressed') ===
                            'true';

                        // invert isPressed
                        let themeChangeEvent = new CustomEvent('theme-change', {
                            detail: {
                                theme: isPressed ? 'light' : 'dark',
                            },
                        });
                        // dispatch event -> ThemeProvider.astro
                        document.dispatchEvent(themeChangeEvent);
                        // toggle the aria-pressed attribute
                        button.setAttribute('aria-pressed', String(!isPressed));
                    }
                });
            }
        }
    }

    customElements.define('theme-toggle', ThemeToggle);
</script>

<theme-toggle class="ms-2 sm:ms-4">
    <button
        type="button"
        id="toggle-theme"
        class="group relative h-9 w-9 rounded-md p-2 transition-all"
        aria-label="Toggle Dark Mode"
    >
        <svg
            id="sun-svg"
            class="absolute start-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-pressed:scale-100 group-aria-pressed:opacity-100"
            aria-hidden="true"
            focusable="false"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M12 18C15.3137 18 18 15.3137 18 12C18 8.68629 15.3137 6 12 6C8.68629 6 6 8.68629 6 12C6 15.3137 8.68629 18 12 18Z"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M22 12L23 12"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M12 2V1"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M12 23V22"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M20 20L19 19"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M20 4L19 5"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M4 20L5 19"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M4 4L5 5"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            <path
                d="M1 12L2 12"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
        </svg>
        <svg
            id="moon-svg"
            class="absolute start-1/2 top-1/2 h-5 w-5 -translate-x-1/2 -translate-y-1/2 scale-0 opacity-0 transition-all group-aria-[pressed=false]:scale-100 group-aria-[pressed=false]:opacity-100"
            aria-hidden="true"
            focusable="false"
            viewBox="0 0 24 24"
            ><path
                fill="currentColor"
                d="M9.5 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T19.5 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T9.5 22q-1.325 0-2.588-.337T4.5 20.65Q6.825 19.3 8.163 17T9.5 12q0-2.7-1.338-5T4.5 3.35q1.15-.675 2.413-1.012T9.5 2"
            ></path></svg
        >
    </button>
</theme-toggle>

{
    /* Inlined to avoid FOUC on full page load, runs once to set initial attribute */
}
<script is:inline>
    const button = document.getElementById('toggle-theme');

    function setButtonPresssed() {
        const bodyThemeIsDark =
            document.documentElement.classList.contains('dark');
        button.setAttribute('aria-pressed', String(bodyThemeIsDark));
    }
    setButtonPresssed();
</script>
