---
const { title, text, class: className } = Astro.props;
---

<div class=`grid place-content-center py-24 ${className}`>
    <div class="max-w-lg text-center flex flex-col gap-4">
        <h1
            class="text-5xl sm:text-6xl uppercase font-semibold font-sans leading-tight tracking-tight mightymorpher text-balance"
        >
            {title}
        </h1>
        {text && <p class="text-balance">{text}</p>}
    </div>
</div>

<script>
    function addMorphClasses(string) {
        const stringArray = string.split('');

        const validIndexes = [...stringArray].reduce((acc, char, index) => {
            if (/[0-9a-zA-Z]/g.test(char)) {
                acc.push(index);
            }
            return acc;
        }, []);
        let indexes = new Set();
        const length = validIndexes.length;
        // Add to first half of title
        indexes.add(validIndexes[Math.floor(Math.random() * (length / 2))]);
        // Add to second half of title
        indexes.add(
            validIndexes[
                Math.floor(Math.random() * (length / 2)) +
                    Math.floor(length / 2)
            ]
        );
        function spanify(index) {
            const letter = stringArray[index];
            stringArray[index] = `<span class="morpher">${letter}</span>`;
        }
        indexes.forEach((index) => spanify(index));
        return stringArray.join('');
    }

    function addStylesAttrToElement(element) {
        const colors = [
            'text-Blue',
            'text-Green',
            'text-Orange',
            'text-Purple',
            'text-Yellow',
        ];
        const fonts = [
            ['font-sans', 'font-medium'],
            ['font-moonbase', 'mbsq'],
            ['font-moonbase', 'mbrd'],
        ];
        element.classList.add(
            ...fonts[Math.floor(Math.random() * fonts.length)]
        );
        element.classList.add(
            colors[Math.floor(Math.random() * colors.length)]
        );
    }

    document.addEventListener('astro:page-load', () => {
        const heading = document.querySelector('.mightymorpher') as HTMLElement;
        if (heading) {
            heading.innerHTML = addMorphClasses(heading.innerText);
        }
        const morphers = document.querySelectorAll('.morpher');
        if (morphers) {
            morphers.forEach((element) => addStylesAttrToElement(element));
        }
    });
</script>
