---
const { title, text } = Astro.props;
---

<div class="grid place-content-center py-24">
    <div class="max-w-lg text-center flex flex-col gap-4">
        <h1
            class="text-4xl uppercase font-semibold leading-tight tracking-tight"
        >
            {title}
        </h1>
        {text && <p>{text}</p>}
    </div>
</div>

<style>
    p {
        text-wrap: balance;
    }
</style>
