---
import Base from '@layouts/Base.astro';
import SearchLayout from '@layouts/SearchLayout.astro';
---

<SearchLayout>
    <div class="grid place-content-center h-full">
        <p class="text-textColor/40">Select a tag to see relevant content</p>
    </div>
</SearchLayout>
