---
import { Image, Picture } from 'astro:assets';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
import Brackets from '@components/Brackets.astro';
import EmailSignup from '@components/EmailSignup.jsx';
import Logo from '/src/svg/logo.svg';
---

<!-- Mailing List -->
<div class="px-4 mt-12">
    <HorizontalSpacer class="mb-4" />
    <Brackets class="min-h-[15rem] sm:min-h-[20rem]">
        <div class="max-w-sm text-center flex flex-col gap-4 min-w-0">
            <h3 class="text-2xl font-medium">
                Stay up to date by signing <br />up for our newsletter
            </h3>
            <EmailSignup client:visible />
        </div>
    </Brackets>
</div>

<div class="pt-4">
    <!-- Image/Sketch -->
    <div class="ccam-container grid place-items-center min-h-80 relative">
        <div class="absolute w-full h-full -z-10" id="sketch"></div>
        <Image
            src={Logo}
            alt="CCAM"
            class="w-11/12 h-5/6 pointer-events-none select-none dark:invert"
        />
    </div>

    <!-- Footer -->
    <div class="flex items-center py-2 text-xs gap-x-4">
        <div
            class="flex justify-between gap-4 items-center flex-wrap w-full pl-2"
        >
            <p>&copy; Center for Concrete and Abstract Machines</p>
            <a
                href="https://www.instagram.com/ccam_chicago/"
                target="_blank"
                class="hidden sm:inline">Instagram</a
            >
        </div>

        <div class="theme-toggle grid place-content-center">
            <ThemeToggle />
        </div>
    </div>
</div>

<script>
    import './sketch/footerSketch.js';
</script>
<!-- <script src="/p5/p5.min.js" is:inline defer></script> -->
<!-- <script src="/p5/footerSketch.js" is:inline defer></script> -->
