---
import { getCollection } from 'astro:content';

import ResourceCard from './ResourceCard.astro';
import HorizontalSpacer from '../HorizontalSpacer.astro';

const { displayCount } = Astro.props;

let resources = (await getCollection('resources')).sort(
    // Most recent on top
    (a, b) => b.data.dateAdded.getTime() - a.data.dateAdded.getTime()
);
if (displayCount) {
    resources = resources.slice(0, displayCount);
}
---

<div class="pt-4">
    {
        resources.map((resource) => (
            <ResourceCard metadata={resource.data} slug={resource.slug} />
        ))
    }
</div>
