---
import { getCollection } from 'astro:content';

import ResourceCard from '@components/ResourceCard.astro';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';

const { displayCount, tag, type, sort } = Astro.props;

function sortResources(array, sort) {
    // Alphabetic
    if (sort === 'alpha') {
        return array.sort((a, b) => a.data.title.localeCompare(b.data.title));
    }
    // Most recent on top
    else
        return array.sort(
            (a, b) => b.data.dateAdded.getTime() - a.data.dateAdded.getTime()
        );
}

let resources = await getCollection('resources', ({ data }) => {
    if (tag) {
        return data.tags.includes(tag);
    } else if (type) {
        return data.type === type;
    } else return true;
});

sortResources(resources, sort);

if (displayCount) {
    resources = resources.slice(0, displayCount);
}
---

<div class="pt-4">
    {
        resources.map((resource) => (
            <>
                <ResourceCard
                    metadata={resource.data}
                    slug={resource.slug}
                    metaSlug="resources"
                />
                <div class="spacer-container">
                    <HorizontalSpacer />
                </div>
            </>
        ))
    }
</div>

<style>
    .spacer-container:last-of-type {
        display: none;
    }
</style>
