---
import { getCollection } from 'astro:content';

import ResourceCard from '@components/ResourceCard.astro';

const { displayCount, tag, type, sort } = Astro.props;

function sortResources(array, sort) {
    // Alphabetic
    if (sort === 'alpha') {
        return array.sort((a, b) => a.data.title.localeCompare(b.data.title));
    }
    // Most recent on top
    else
        return array.sort(
            (a, b) => b.data.dateAdded.getTime() - a.data.dateAdded.getTime()
        );
}

let resources = await getCollection('resources', ({ data }) => {
    if (tag) {
        return data.tags.includes(tag);
    } else if (type) {
        return data.type === type;
    } else return true;
});

sortResources(resources, sort);

if (displayCount) {
    resources = resources.slice(0, displayCount);
}
---

<div class="">
    {
        resources.map((resource) => (
            <>
                <ResourceCard
                    metadata={resource.data}
                    slug={resource.slug}
                    metaSlug="resources"
                />
            </>
        ))
    }
</div>

<script>
    document.addEventListener('astro:page-load', () => {
        // Hide last spacer
        const spacers = Array.from(
            document.querySelectorAll(
                '.spacer-container'
            ) as NodeListOf<HTMLDivElement>
        );
        if (spacers.length > 0) {
            spacers.at(-1).style.display = 'none';
        }
    });
</script>
