---
import { getCollection } from 'astro:content';

// import ResourceCard from './ResourceCard.astro';
import SearchResultCard from '@components/SearchResultCard.astro';
import HorizontalSpacer from '@components/HorizontalSpacer.astro';

const { displayCount } = Astro.props;

let resources = (await getCollection('resources')).sort(
    // Most recent on top
    (a, b) => b.data.dateAdded.getTime() - a.data.dateAdded.getTime()
);
if (displayCount) {
    resources = resources.slice(0, displayCount);
}
---

<div class="pt-4">
    {
        resources.map((resource) => (
            // <ResourceCard metadata={resource.data} slug={resource.slug} />
            <>
                <SearchResultCard
                    metadata={resource.data}
                    slug={resource.slug}
                    metaSlug="resources"
                />
                <div class="spacer-container">
                    <HorizontalSpacer />
                </div>
            </>
        ))
    }
</div>

<style>
    .spacer-container:last-of-type {
        display: none;
    }
</style>
