---
const { filter, class: className } = Astro.props;
---

<div
    class=`flex flex-wrap justify-between items-center font-mono text-xs py-4 gap-x-4 gap-y-2 ${className}`
>
    <span>Filter</span>
    <div class="flex gap-4 flex-wrap">
        <div class="flex gap-4 flex-wrap">
            <a href="/programs/">
                <div
                    class=`text-textColor whitespace-nowrap px-4 py-2 border ${filter === 'none' ? 'border-borderColor' : 'border-borderColor/20'}`
                >
                    All Programs
                </div>
            </a>
            <a href="/programs/events/">
                <div
                    class=`whitespace-nowrap px-4 py-2 ${(filter === 'Event' || filter === 'none') ? 'bg-Blue text-Black' : 'text-textColor border border-borderColor/20'}`
                >
                    Event
                </div>
            </a>
        </div>
        <div class="flex gap-4 flex-wrap">
            <a href="/programs/workshops/">
                <div
                    class=`text-Black whitespace-nowrap px-4 py-2 ${(filter === 'Workshop' || filter === 'none') ? 'bg-Orange text-Black' : 'text-textColor border border-borderColor/20'}`
                >
                    Workshop
                </div>
            </a>
            <a href="/programs/study/">
                <div
                    class=`whitespace-nowrap px-4 py-2 ${(filter === 'Study' || filter === 'none') ? 'bg-Green text-Black' : 'text-textColor border border-borderColor/20'}`
                >
                    Study
                </div>
            </a>
        </div>
    </div>
</div>
