---
const { tag } = Astro.props;

const bgColors = new Map([
    ['event', 'bg-Blue'],
    ['workshop', 'bg-Orange'],
    ['study', 'bg-Green'],
]);
---

<div
    class=`font-mono text-xs text-Black whitespace-nowrap px-4 py-2 ${bgColors.get(tag.toLowerCase())}`
>
    {tag}
</div>
