---
const { tag } = Astro.props;

const bgColors = new Map([
    ['course', 'bg-lime-400'],
    ['event', 'bg-blue-400'],
    ['working group', 'bg-orange-500'],
    ['workshop', 'bg-yellow-400'],
]);
---

<div
    class=`text-neutral-900 text-lg whitespace-nowrap px-4 py-2 ${bgColors.get(tag.toLowerCase())}`
>
    {tag}
</div>
